In [50]:
# Import required libraries
import pyodbc
import json
import os
import pandas as pd

In [14]:
# Get current working directory
current_dir = os.getcwd()
print(current_dir)

# c:\Users\etien\OneDrive\02_Progression\CAS_DataEngineering_ZHAW\03_Leistungsnachweis\Wanderwege\notebooks

c:\Users\etien\OneDrive\02_Progression\CAS_DataEngineering_ZHAW\03_Leistungsnachweis\Wanderwege\notebooks

In [16]:
# Load configuration from config/db_config.json
with open('../config/db_config.json', 'r') as f:
    db_config = json.load(f)

# Access db credentials
server = db_config['server']
database = db_config['database']
db_user = db_config['db_user']
db_password = db_config['db_password']

In [45]:
# Define the connection string
connection_string = f'DRIVER={{ODBC Driver 17 for SQL Server}};SERVER={server};DATABASE={database};UID={db_user};PWD={db_password}'

# Establish the connection
conn = pyodbc.connect(connection_string)

In [46]:
# Create a cursor object
cursor = conn.cursor()

In [47]:
# Execute test query to check version
cursor.execute("SELECT @@version;")
# Fetch the results
row = cursor.fetchall()
print(row)

[('Microsoft SQL Azure (RTM) - 12.0.2000.8 \n\tSep  3 2024 11:34:29 \n\tCopyright (C) 2022 Microsoft Corporation\n',)]

In [48]:
# Query to get server and database name
cursor.execute("""
               SELECT DB_NAME() AS DataBaseName, 
               @@SERVERNAME AS ServerName;
               """)
result = cursor.fetchone()
print(f"Database Name: {result.DataBaseName}")
print(f"Server Name: {result.ServerName}")

Database Name: www_db
Server Name: www-server

In [66]:
# Sql query to get data from testtbl
cursor.execute("""
               SELECT *
               FROM 
               [dbo].[testtbl]
               """)

# Fetch column headers
columns = [desc[0] for desc in cursor.description]
print(columns) 

# Fetch rows
rows = cursor.fetchall()
for row in rows:
    print(row)

print("-------------") 
df = pd.DataFrame.from_records(data=rows, columns=columns)
print(df)

['col1', 'col2']
(1, 'sdfg')
(345, '5gh')
(3, 'abc')
(9, 'Hello')
-------------
   col1   col2
0     1   sdfg
1   345    5gh
2     3    abc
3     9  Hello

['col1', 'col2']

In [ ]:
conn.close()    # Close connection